/* Kutu Boyutlandırma */
* {
    box-sizing: border-box;
}

/* Belirli Body Özellikleri */
body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

@media screen and (min-width:601px) and (max-width:2000px) {

/* Navbar Bölümü */
#navbar {
    width: 120px;
    height: 100%;
    background-color: #222222d0;
    display: block;
    position: fixed;
}

#navbar a {
    text-decoration: none;
    text-align: center;
    color: azure;
    display: block;
    margin-top: -2px;
}

.home {
    background-color: black;
    height: 100px;
}

.home:hover {
    background-color: grey;
}

a:hover {
    background-color: black;
    height: 100px;
}

#navbar i {
    font-size: 36px;
    color: azure;
    text-align: center;
    width: 100px;
    height: 40px;
    padding-top: 10px;
    margin-bottom: 15px;
}

#navbar p {
    font-size: 11px;
}

.navbar2 {
    display: none;
}

/* İçerik Bölümü 1 */
#sh1 {
    position: absolute;
    color: white;
    margin-top: 80px;
    font-size: 60px;
    font-weight: lighter;
    margin-left: 37%;
    letter-spacing: 3px;
}

.h2 {
    display: none;
}

#prg {
    position: absolute;
    color: white;
    margin-top: 170px;
    margin-left: 44%;
}

.secimg {
    padding-top: 220px;
    position: absolute;
    margin-left: 18%;
    width:992px;
    height:1350px;
}

/* İçerik Bölümü 2 */
.bilgi {
    position: relative;
    padding-top: 100%;
    color: azure;
    margin-left: 20%;
    margin-right: 7%;
}

#bh2 {
    font-weight: lighter;
}

.çizgi {
    width: 200px;
    margin-left: 0%;
    color: grey;
}

#bp2 {
    color: grey;
    text-align: justify;
    margin-right: 5%;
}

.yetenek {
    padding-top: 2%;
    color: azure;
    margin-left: 20%;
    margin-right: 11%;
}

.yh2 {
    font-weight: lighter;
}

.ybilgi {
    padding-top: 2%;
    color: grey;
    margin-right: 10%;
    letter-spacing: 5px;
    font-size: medium;
}

.kutubeyaz {
    margin-right: 10%;
    width: 100%;
    height: 28px;
    background-color: white;
}

.kutu1 {
    margin-right: 10%;
    width: 95%;
    height: 28px;
    background-color: grey;
}

.kutu2 {
    margin-right: 10%;
    width: 85%;
    height: 28px;
    background-color: grey;
}

.kutu3 {
    margin-right: 10%;
    width: 80%;
    height: 28px;
    background-color: grey;
}

.basari {
    display: flex;
    width: 69%;
    padding: 30px 0px 0px 50px;
    margin: 10px 0px 0px 270px;
    background-color: azure;
    text-align: center;
}

.basari1 {
    padding: 5px 15px 40px 50px;
    margin: 5px 25px 10px 20px;
}

.bspan {
   text-align: center;
   left: 10px;
   font-weight: lighter;
   
}

.button {
    margin-top: 2%;
    margin-left: 20%;
    font-weight: lighter;
    width: 180px;
    height: 40px;

}

.uh2 {
    color: azure;
    margin-top: 25px;
    margin-left: 20%;
    font-weight: lighter;
}

.anakisim {
    position: absolute;
    background-color: azure;
    width: 32%;
    height: 70%;
    margin-left: 270px;
}

.list {
    list-style-type: none;
    text-align: center;
    margin-left: -40px;
}

.listeleman1 {
    padding: 25px;
    margin-top: -20px;
    background-color: grey;
    size: 30%;
}

.listeleman2 {
    padding: 10px;
}

.buttonlist {
    background-color: white;
}

.button1 {
    width: 100px;
    height: 40px;
}

.button1:hover {
    background-color: black;
    color: white;
}

.anakisim1 {
    position: absolute;
    background-color: azure;
    width: 32%;
    height: 70%;
    margin-left: 765px;
    box-sizing: inherit;
}

.repbaslik {
    color: white;
    margin-top: 40%;
    margin-left: 20%;
    font-weight: lighter;
}

.repimg1 {
    border-radius: 50%;
    width: 7%;
    height: 15%;
    margin-left: 20%;
    position: absolute;
}

.repimg2 {
    border-radius: 50%;
    width: 7%;
    height: 10%;
    margin-top: 5px;
    margin-left: 20%;
}

.inline {
    color: grey;
    margin-top: -2px;
    margin-left: 28%;
    padding: 5px;
    font-size: 15px;
}

.inline1 {
    color: grey;
    margin-left: 2%;
    margin-top: -2px;
    padding: -2px;
    margin-bottom: 2px;
}

.inline2 {
    color: grey;
    margin-left: 28.5%;
    margin-top: -2px;
}

.repinline {
    color: grey;
    margin-top: -80px;
    margin-left: 28%;
    padding: 5px;
    font-size: 15;
}

.repinline1 {
    color: grey;
    margin-left: 1%;
    margin-top: -7px;
}

.repinline2 {
    color: grey;
    margin-left: 28.5%;
    margin-top: -2px;
}

.ph2 {
    color: azure;
    margin-left: 20%;
    margin-top: 10%;
}

.çizgi2 {
    margin-left: 20%;
    width: 200px;
    color: grey;
}

.pictures {
    position: absolute;
    margin-left: 20%;
    margin-right: 45%;
}

.pictures2 {
    position: absolute;
    margin-left: 55%;
    padding: 0px 5px;
    float: right;
}

/* İletişim Menüsü */
.contact {
    margin-left: 20%;
    margin-top: 115%;
}

.ch2 {
    color: azure;
    font-weight: lighter;
}

.ccizgi {
    width: 200px;
    margin-left: -0.5%;
}

.iletisim {
    color: azure;
    margin-top: 2%;
    font-size: 20px;
    color: grey;
}

.iletisim1p {
    color: grey;
    margin-top: 5%;
    margin-left: 20%;
}

.giris {
    margin-left: 20%;
    width: 925px;
    height: 50px;
}

.formbutton {
    margin-left: 20%;
    width: 150px;
    height: 50px;
}

.formbutton:hover {
    background-color: black;
    color: azure;
}

/* Footer Kısmı */

.footer {
    margin-left: 20%;
    margin-top: 5%;
    color: grey;
    font-size: 25px;
    margin-bottom: 10%;
}

.logo:hover {
    background-color: grey;
    color: azure;
}

.w3 {
    color: grey;
    font-size: 17px;
}

}

@media screen and (min-width:300px) and (max-width:600px) {
/* Navbar Bölümü */
#navbar {
    display: none;
}

.navbar2 {
    position: fixed;
    z-index: 9999;
    text-align: center;
    margin-top: -20px;
    width: 100%;
    min-height: 20px;
    font-size: 10px;
    background-color: black;
}

.yazi {
    color: grey;
    margin-left: 10%;
    float: left;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    
}

.yazi:hover {
    background-color: rgba(128, 128, 128, 0.205);
}

/* İçerik Bölümü 1 */
.h1 {
    display: none;
}

.h2 {
    color: white;
    font-size: 400%;
    font-weight: lighter;
    margin-left: 32%;
    margin-top: -15px;
    position: absolute;
}
    
#prg {
    position: relative;
    color: white;
    top: 200px;
    margin-left: 18%;
    margin-right: 8%;
    display: inline;
}
    
.secimg {
    margin-top: 65%;
    position: absolute;
    width: 40%;
    height: 40%;
    margin-left: 30%;
    object-fit: cover;
}

/* İçerik Bölümü 2 */
.bilgi {
    padding-top: 170%;
    color: azure;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: lighter;
}

.çizgi {
    width: 200px;
    margin-left: 0%;
    color: grey;
}

#bp2 {
    font-weight: lighter;
    color: grey;
    text-align: justify;
    width: 350px;
}

.yetenek {
    padding-top: 2%;
    color: azure;
    margin-left: 5%;
    margin-right: 5%;
}

.ybilgi {
    padding-top: 2%;
    color: grey;
    margin-right: 5%;
    letter-spacing: 5px;
    font-size: medium;
}

.kutubeyaz {
    width: 100%;
    height: 28px;
    background-color: white;
}

.kutu1 {
    width: 95%;
    height: 28px;
    background-color: grey;
}

.kutu2 {
    width: 85%;
    height: 28px;
    background-color: grey;
}

.kutu3 {
    width: 80%;
    height: 28px;
    background-color: grey;
}

.basari {
    display: block;
    width: 90%;
    margin-left: 5%;
    padding: 30px 30px 20px 60px;
    background-color: azure;
}

.basari1 {
    text-align: center;
    padding: 2px 15px 35px 5px;
    margin: 2px 15px 10px 5px;
}

.button {
    margin-top: 2%;
    margin-left: 5%;
    width: 180px;
    height: 40px;
}

.uh2 {
    color: azure;
    margin-top: 25px;
    margin-left: 5%;
    font-weight: lighter;
}

.anakisim {
    position: absolute;
    background-color: azure;
    width: 90%;
    height: 52%;
    margin-left: 5%;
    box-sizing: inherit;
}

.list {
    list-style-type: none;
    text-align: center;
    margin-left: -40px;
}

.listeleman1 {
    padding: 25px;
    margin-top: -20px;
    background-color: grey;
    size: 30%;
}

.listeleman2 {
    padding: 10px;
}

.butonlist {
    background-color: rgba(128, 128, 128, 0.479);
}

.button1 {
    width: 100px;
    height: 40px;
}

.button1:hover {
    background-color: black;
    color: white;
}

.anakisim1 {
    position: absolute;
    background-color: azure;
    width: 90%;
    height: 50%;
    margin-left: 5%;
    margin-top: 130%;
    box-sizing: inherit;
}

.repbaslik {
    position: absolute;
    color: white;
    margin-top: 245%;
    margin-left: 5%;
    font-size: 25px;
    font-weight: lighter;
}

.repimg1 {
    border-radius: 50%;
    margin-top: 260%;
    width: 15%;
    height: 15%;
    margin-left: 5%;

}

.repimg2 {
    border-radius: 50%;
    margin-top: 225%;
    width: 15%;
    height: 15%;
    margin-left: 5%;
}

.inline {
    color: grey;
    margin-left: 25%;
    font-size: 15px;
    margin-top: -55px;
}

.inline1 {
    color: grey;
    margin-left: 1px;
    font-size: 15px;
}

.inline2 {
    color: grey;
    margin-left: 25%;
    font-size: 12px;
}

.repimg2 {
    border-radius: 50%;
    margin-top: 8%;
    width: 15%;
    height: 15%;
    margin-left: 5%;
}

.repinline {
    color: grey;
    margin-left: 25%;
    font-size: 15px;
    margin-top: -55px;
}

.repinline1 {
    color: grey;
    margin-left: 1px;
    font-size: 15px;
}

.repinline2 {
    color: grey;
    margin-left: 25%;
    font-size: 12px;
}

.ph2 {
    color: azure;
    margin-left: 5%;
    margin-top: 10%;
    font-weight: lighter;
}

.çizgi2 {
    margin-left: 5%;
    width: 200px;
    color: grey;
}

.pictures {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    object-fit: cover;
}

.pictures2 {
    margin-top: 10px;
    margin-left: 5%;
    width: 120%;
    object-fit: cover;
}

/* İletişim Menüsü */
.contact {
    margin-left: 1%;
    margin-top: 10%;
    text-align: center;
}

.ch2 {
    color: azure;
}

.ccizgi {
    width: 200px;
    margin-left: 25%;
}

.iletisim {
    color: azure;
    margin-top: 2%;
}

.iletisim1p {
    color: grey;
    margin-top: 5%;
    margin-left: 1%;
    font-size: 15px;
    text-align: center;
}

.giris {
    margin-left: 5%;
    width: 90%;
    height: 50px;
}

.formbutton {
    margin-left: 5%;
    width: 150px;
    height: 50px;
}

.formbutton:hover {
    background-color: black;
    color: azure;
}

/* Footer Kısmı */

.footer {
    margin-left: 37%;
    margin-top: 15%;
    color: grey;
    margin-bottom: 15%;
}

.logo:hover {
    background-color: grey;
    color: azure;
}

.w3 {
    color: grey;
    margin-left: -19px;
    padding: 7px;
    
    
}


}